.app {
    background-color: #c8f0f049;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.app_body {
    display: flex;
    margin-top: 10px;
    max-width: 1200px;
    margin-left: 20px;
    margin-right: 20px;
}