.login {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.login>img {
    object-fit: contain;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login>form {
    display: flex;
    flex-direction: column;
}

.login>form>input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgba(22, 159, 159, 0.286);
}

.login>form>button {
    width: 365;
    height: 50px;
    font-size: large;
    background-color: rgb(22, 159, 159);
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.login_register {
    color: rgba(22, 159, 159, 0.915);
    cursor: pointer;
}
.login>p{
    margin-top:20px;
    font-size: 15px;
}