.widget {
    position: sticky;
    flex: 0.2;
    top: 80px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    height: fit-content;
    padding-bottom: 10px;
}

.widget_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.widget_header>h2 {
    font-size: 16px;
    font-weight: 500;
    color: darkcyan;

}

.widget_header>.MuiSvgIcon-root {
    opacity: 0.5;
    font-size: 24px;
    cursor: pointer;
    color: darkcyan;
}

.widget_article {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.widget_article:hover {
    background-color: rgba(22, 159, 159, 0.286);
    border-radius: 10px;
    cursor: pointer;
    color: rgb(7, 72, 72);
}

.widget_articleLeft {
    color: rgba(7, 72, 72, 0.626);
    margin-right: 5px;
}

.widget_articleLeft>.MuiSvgIcon-root {
    font-size: 15px;
}

.widget_articleRight {
    flex: 1;
}

.widget_articleRight>h4 {
    font-size: 14px;
}

.widget_articleRight>p {
    font-size: 12px;
    color: gray;
}